*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  min-height: 534px;
  margin: 133px 30px;
  column-gap: 30px;
}

.result {
  inline-size: 100%;
}

.result__video-container {
  position: relative;
  min-width: 711px;
  min-height: 386px;
  padding-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding-bottom: 5px;
}

.search-form__label {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__textfield {
  cursor: pointer;
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #FFFFFF;
  appearance: none;
  min-width: 225px;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:active {
  border: 1px solid #FFFFFF;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  vertical-align: sub;
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
}


.search-form__checkbox[type="checkbox"]:checked + .search-form__pseudo-checkbox::before {
  content: " ";
  position: absolute;
  left: 2px;
  top: 4px;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__label-text {
  cursor: pointer;
 }

.button {
  cursor: pointer;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.search-form__submit-button {
  min-width: 194px;
  min-height: 34px;
}



.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column; 
  row-gap: 26px;
}

.title {
font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 75px;
line-height: 94%;
text-transform: uppercase;
}

.content__accent {
  color: #545050;
}


.content__list {
  position: relative;
  max-height: 298px;
  overflow: auto;
}

.content__list-item {
  padding-bottom: 30px;
}

.content__card-link_current:hover {
  text-decoration: underline;
}

.content__card-link_current:active {
  background-color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  padding-bottom: 6px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
}

.content__list-item:nth-child(5) {
  padding: 0;
}

.content__video-card {
  display: flex;
  justify-content: flex-start;
}

.content__video-card-description-container {
  width: 100%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  background-position: center;
}

.more-button {
  min-width: 399px;
  min-height: 34px;
} 